.events-pics img {
    height: 300px;
    width: 300px;
    z-index: 1;
    max-width: 100%;
    grid-column: span 2;
    margin-bottom: -52%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
}

.img1:nth-child(7n + 1) {
    grid-column: 2 / span 2;
    border: 2px solid black;
}

.events-pics {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

.events-pics img:hover {
    z-index: 2;
    transform: scale(1.2);
    box-shadow: 0 0 15px 0 cyan;
    border:2px solid cyan;
    cursor: pointer;
}
