* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
:root {
  --theme-color: #3867d6;
}
.content{
  color:rgb(255, 255, 255);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
.background{
  background-image:url(https://res.cloudinary.com/de27xvxon/image/upload/v1715273946/background2_avjrwa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;

}
section {
  padding: 2rem 9%;
}

nav{
  background-color: rgba(255,255,255,0.1);
  height: 100px;
  width: 97%;
  border-radius: 10px;
  position: relative;
  top: 30px;
  left:20px;
  display: flex;
}
.logo{
  height:90px;
  width: 110px;
  margin:5px 0px 0px 105px;
}
.menu-icons{
  display: flex;
  gap:1vw;
  margin:40px 0px 0px 14vw;
  font-size: 16px;
}
.menu-icons li a{
  color: white;
  letter-spacing: 2px;
  padding: 10px;
}
.menu-icons li a:hover{
  color: white;
  background-color: #0078d4;
  border-radius: 100% 0% 100% 17% / 64% 100% 60% 0% ;
  font-weight:600;
  font-size: 18px;
}
.menu-lines{
  height: 30px;
  width:30px;
  margin-top: 35px;
  margin-right: 45px;
  display: none;
}


.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--theme-color);
  text-transform: uppercase;
}
.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--theme-color);
  text-transform: uppercase;
}
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--theme-color);
}
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(255,255,255,0.07);
}
footer ul {
  list-style: none;
}
footer p {
  color: #fff;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  font-size: 17px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}
.media-icons li,
.services-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.media-icons a:hover {
  background: #fff;
  color: #111;
}
.services-icons a {
  font-size: 1.6em;
}
.services-icons a:hover {
  color: #0078d4;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid #0078d4;
  padding: 2em;
  font-size: 16px;
}
.footer .menu {
  margin-bottom: 1em;
  font-size: 15px;
}
.footer .menu li {
  display: inline-block;
  margin: 0 0.7em 0.7em 0;
  text-align: center;
}
.footer .menu a {
  transition: 0.3s;
  font-weight: 600;
}
.footer .menu a:hover {
  color: #0078d4;
}
.input-wrap {
  margin: 1em 0;
  display: flex;
}
.input-wrap input {
  padding: 0.5em;
  border: none;
  background: #20232a;
  color: #ccc;
}
.input-wrap input:focus {
  outline: none;
}
.input-wrap button {
  padding: 0.8em;
  background: #0078d4;
  border: none;
  color: #000000;
  transition: 0.3s;
}
.input-wrap button:hover {
  background: #000000;
  color: #ffffff;
}
/*== responsive==*/
@media screen and (max-width: 766px) {
  .footer .container {
    flex-direction: column;
  }
  footer{
      width: 100%;
  }
}
@media (max-width: 1269px){
  nav{
    left: 2vw;
    z-index: 99;
}
.logo{
    margin-left: 8vw;
}
  .menu-icons-div{
      position: absolute;
      top: 70px;
      right: 5vw;
      transition: all 0.5s;  
  }
  .menu-icons{
      flex-direction: column;  
      width: 90vw;
      padding-left: 35vw;
      padding-bottom: 15px;
      background-color:#203a61;
      transition: all 0.5s;
  }
  .menu-icons li {
      margin-top: 15px;
  }
  .menu-lines{
      display: block;
      margin-left: 60vw;
  }
  .menu-lines:hover{
      border: 2px rgb(115, 115, 115) solid;
      padding: 5px;
      border-radius: 10px;
  }
  .menu-icons-div {
      display: none;
  }
  .menu-icons-div.visible {
      display: block;
  }
}
@media (max-width: 766px) { 
  .menu-icons-div{
      position: absolute;
      top: 70px;
      right: 5vw;
      transition: all 0.5s;  
  }
  .menu-icons{
      flex-direction: column;  
      width: 90vw;
      padding-left: 35vw;
      padding-bottom: 15px;
      background-color:#203a61;
      transition: all 0.5s;
  }
  .menu-icons li {
      margin-top: 15px;
  }
  nav{
      left: 2vw;
      z-index: 99;
  }
  .logo{
      margin-left: 8vw;
  }
  .menu-lines{
      display: block;
      margin-left: 55vw;
  }
  .menu-lines:hover{
      border: 2px rgb(115, 115, 115) solid;
      padding: 5px;
      border-radius: 10px;
  }
  .menu-icons-div {
      display: none;
  }
  .menu-icons-div.visible {
      display: block;
  }
.home .content {
  text-align: center;
  padding-top: 3rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--theme-color);
  text-transform: uppercase;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--theme-color);
  text-transform: uppercase;
}
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--theme-color);

}
}
@media (min-width: 766px) and (max-width: 1100px ){
  nav{
    left: 2vw;
    z-index: 99;
}
.logo{
    margin-left: 8vw;
}
  .logo{
      margin-left: 20px;
  }
  .menu-icons{
      margin-left: 10vw;
  }
}
@media (min-width: 643px) and (max-width: 766px ){
  /* nav{
      background-color: #0078d4;
  } */
  .menu-lines{
      margin-left: 65vw;
  }
}
@media (min-width: 450px) and (max-width: 559px ){
  footer{
      width: 110vw;
  }
  nav{
    /* background-color: rgb(255, 38, 0); */
    width: 93vw;
    z-index: 99;
}
}
@media (min-width: 300px) and (max-width: 451px ){
  footer{
      width: 145vw;
  }
  nav{
    /* background-color: rgb(255, 38, 0); */
    width: 415px;
    margin-left: 15px;
    z-index: 99;
}
  .menu-lines{
      margin-left: 210px;
  }
  .menu-icons-div{
    position: absolute;
    top: 70px;
    right: 4vw;
    transition: all 0.5s;  
}
.menu-icons{
    flex-direction: column;  
    width: 90vw;
    padding-left: 5vw;
    padding-bottom: 15px;
    background-color:#203a61;
    transition: all 0.5s;
}
.menu-icons li {
    margin-top: 15px;
}
.logo{
    margin-left: 8vw;
}
.menu-lines{
    display: block;
    margin-left: 40vw;
}
.menu-lines:hover{
    border: 2px rgb(115, 115, 115) solid;
    padding: 5px;
    border-radius: 10px;
}
.menu-icons-div {
    display: none;
}
.menu-icons-div.visible {
    display: block;
}
}  
@media (min-width: 766px) and (max-width: 1269px ){   
  nav{
      width: 95vw;
  }
}
