*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.background{
  background-image:url(https://res.cloudinary.com/de27xvxon/image/upload/v1715273946/background2_avjrwa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;

}
nav{
  background-color: rgba(255,255,255,0.1);
  height: 100px;
  width: 97%;
  border-radius: 10px;
  position: relative;
  top: 30px;
  left:20px;
  display: flex;

}
.logo{
  height:90px;
  width: 110px;
  margin:5px 0px 0px 105px;
}
.menu-icons{
  display: flex;
  gap:1vw;
  margin:40px 0px 0px 14vw;
}
.menu-icons li a{
  color: white;
  letter-spacing: 2px;
  padding: 10px;
}
.menu-icons li a:hover{
  color: white;
  background-color: #0078d4;
  border-radius: 100% 0% 100% 17% / 64% 100% 60% 0% ;
  font-weight:600;
  font-size: 18px;
}
.menu-lines{
  height: 30px;
  width:30px;
  margin-top: 35px;
  margin-right: 45px;
  display: none;
}

.header{
  width: 100%;
  min-height: 50vh ;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.MLSA-word{
  color: white;
  margin-top: 90px;
  margin-left: 60px;
  font-size: 130px;
}
.gallery-word{
  color: white;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 130px;
}


.user-img1{
  position: absolute;
  right: 2%;
  top:225px;
  height: 360px;
  width: 655px;
  filter: drop-shadow(10px 5px 10px black);
  
}

@keyframes textcolor1{
  0%{
      background-size:0%
  }
  40%{
      background-size:40%;
  }
  100%{
      background-size:100%;
  }
}
@keyframes textcolor2{
  0%{
      background-size:0%
  }
  40%{
      background-size:40%;
  }
  100%{
      background-size:100%;
  }
}


.gallery-pics img {
  height: 300px;
  width: 300px;
  z-index: 1;
  max-width: 100%;
  grid-column: span 2;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}

.img1:nth-child(7n + 1) {
  grid-column: 2 / span 2;
  border: 2px solid black;
}

.gallery-pics {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.gallery-pics img:hover {
  z-index: 2;
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 #203a61;
  border:2px solid #203a61;
  cursor: pointer;
}

/* footer */
footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(255,255,255,0.07);
}
footer ul {
  list-style: none;
}
footer p {
  color: #fff;
  max-width: 25em;
  font-size: 0.9em;
  line-height: 23px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.brand {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}
.media-icons li,
.services-icons li {
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
}
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.media-icons a:hover {
  background: #fff;
  color: #111;
}
.services-icons a {
  font-size: 1.6em;
}
.services-icons a:hover {
  color: #0078d4;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid #0078d4;
  padding: 2em;
}
.footer .menu {
  margin-bottom: 1em;
}
.footer .menu li {
  display: inline-block;
  margin: 0 0.7em 0.7em 0;
  text-align: center;
}
.footer .menu a {
  transition: 0.3s;
  font-weight: 600;
}
.footer .menu a:hover {
  color: #0078d4;
}
.input-wrap {
  margin: 1em 0;
  display: flex;
}
.input-wrap input {
  padding: 0.5em;
  border: none;
  background: #20232a;
  color: #ccc;
}
.input-wrap input:focus {
  outline: none;
}
.input-wrap button {
  padding: 0.8em;
  background: #0078d4;
  border: none;
  color: #000000;
  transition: 0.3s;
}
.input-wrap button:hover {
  background: #000000;
  color: #ffffff;
}
/* == responsive == */
@media screen and (max-width: 766px) {
  .footer .container {
    flex-direction: column;
  }
  footer{
      width: 100%;
  }
}
@media (max-width: 1269px){
  .menu-icons-div{
      position: absolute;
      top: 70px;
      right: 5vw;
      transition: all 0.5s;  
  }
  .menu-icons{
      flex-direction: column;  
      width: 90vw;
      padding-left: 35vw;
      padding-bottom: 15px;
      background-color:#203a61;
      transition: all 0.5s;
  }
  .menu-icons li {
      margin-top: 15px;
  }
  .menu-lines{
      display: block;
      margin-left: 60vw;
  }
  .menu-lines:hover{
      border: 2px rgb(115, 115, 115) solid;
      padding: 5px;
      border-radius: 10px;
  }
  .menu-icons-div {
      display: none;
  }
  .menu-icons-div.visible {
      display: block;
  }
}
@media (max-width: 768px) { 
  .menu-icons-div{
      position: absolute;
      top: 70px;
      right: 5vw;
      transition: all 0.5s;  
  }
  .menu-icons{
      flex-direction: column;  
      width: 90vw;
      padding-left: 35vw;
      padding-bottom: 15px;
      background-color:#203a61;
      transition: all 0.5s;
  }
  .menu-icons li {
      margin-top: 15px;
  }
  nav{
      left: 2vw;
      z-index: 99;
  }
  .logo{
      margin-left: 8vw;
  }
  .menu-lines{
      display: block;
      margin-left: 55vw;
  }
  .menu-lines:hover{
      border: 2px rgb(115, 115, 115) solid;
      padding: 5px;
      border-radius: 10px;
  }
  .menu-icons-div {
      display: none;
  }
  .menu-icons-div.visible {
      display: block;
  }
  .MLSA-word{
      color: white;
      margin-top: 75px;
      margin-left: 20px;
      font-size: 11vw;
  }
  .gallery-word{
      color: white;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 11vw;
  }
  .user-img1{
    position: absolute;
    top: 40vw;
    height:200px;
    width: 200px;
    
}
.gallery-pics img {
  z-index: 1;
  max-width: 100%;
  margin-bottom: 52%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: scale(1);
  transition: all .25s;
}
.img1:nth-child(7n+1) {
  grid-column: 2 / span 2;
  border: 2px solid black;
}
.gallery-pics {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.gallery-pics img:hover {
  z-index: 5;
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 #203a61;
  border:2px solid #203a61;
  cursor: pointer;
}

}
@media (min-width: 768px) and (max-width: 1188px ){
    .logo{
        margin-left: 20px;
    }
    .menu-icons{
        margin-left: 10vw;
    }
    .MLSA-word{
      color: white;
      margin-top: 75px;
      margin-left: 10px;
      font-size: 11vw;
  }
  .gallery-word{
      color: white;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 11vw;
  }
  .user-img1{
    position: absolute;
    top: 20vw;
    height:350px;
    width: 350px;
    
}

.menu-icons-div{
  position: absolute;
  top: 70px;
  right: 5vw;
  transition: all 0.5s;  
}
.menu-icons{
  flex-direction: column;  
  width: 90vw;
  padding-left: 35vw;
  padding-bottom: 15px;
  background-color:#203a61;
  transition: all 0.5s;
}
.menu-icons li {
  margin-top: 15px;
}
nav{
  left: 2vw;
  z-index: 99;
}
.logo{
  margin-left: 8vw;
}
.menu-lines{
  display: block;
  margin-left: 55vw;
}
.menu-lines:hover{
  border: 2px rgb(115, 115, 115) solid;
  padding: 5px;
  border-radius: 10px;
}
.menu-icons-div {
  display: none;
}
.menu-icons-div.visible {
  display: block;
}
}
@media (min-width: 340px) and (max-width: 451px ){
footer{
    width: 115vw;
}
nav{
    /* background-color: cornflowerblue; */
    width: 415px;
    margin-left: 15px;
    z-index: 99;
}
.menu-lines{
  margin-left: 210px;
}
.MLSA-word{
    color: white;
    margin-top: 75px;
    margin-left: 10px;
    font-size: 11vw;
}
.gallery-word{
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 11vw;
}
.user-img1{
  position: absolute;
  top: 43vw;
  height:160px;
  width: 160px;
  
}
.menu-icons-div{
position: absolute;
top: 70px;
right: 5vw;
transition: all 0.5s;  
}
.menu-icons{
flex-direction: column;  
width: 90vw;
padding-left: 35vw;
padding-bottom: 15px;
background-color:#203a61;
transition: all 0.5s;
}
.menu-icons li {
margin-top: 15px;
}
nav{
left: 2vw;
}
.logo{
margin-left: 8vw;
}
.menu-lines{
display: block;
margin-left: 55vw;
}
.menu-lines:hover{
border: 2px rgb(115, 115, 115) solid;
padding: 5px;
border-radius: 10px;
}
.menu-icons-div {
display: none;
}
.menu-icons-div.visible {
display: block;
}
}
@media (min-width: 1390px) and (max-width: 1471px ){
  /* nav{
      background-color: blueviolet;
  } */
  
  .MLSA-word{
      font-size: 120px;
  }
  .gallery-word{
      font-size: 120px;
  }
  
}
